@mixin font($size: 14px, $height: 21px, $weight: 400) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin ul() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin a() {
  display: block;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  text-align: center;
}

@mixin fields() {
  margin: 0;
  padding: 0;
}

@mixin wrapper() {
  width: 270px;
  margin: 0 auto;
  padding: 0 25px;
}

@mixin tablet() {
  width: 690px;
  margin: 0 auto;
  padding: 0 40px 0 38px;
}

@mixin desktop() {
  width: 1320px;
  margin: 0 auto;
  padding: 0 60px;
}

@mixin button() {
  @include font(inherit, inherit, inherit);
  padding: 0;
  border: none;
  font-family: $pt;
  color: inherit;
  background-color: inherit;
  text-transform: uppercase;
  cursor: pointer;
}
