.benefits {
  @include ul();
  text-align: center;

  &--blue {
    background-color: $accent;
    color: $white;

    @media (min-width: $tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &--grey {
    background-color: $bg-grey;
    color: $black;

    @media (min-width: $tablet) {
      grid-column-start: 1;
      grid-column-end: 4;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding-top: 42px;
      padding-bottom: 63px;
    }
  }
}

.benefits__item {
  position: relative;
  padding: 49px 0 40px;
  margin: 0 auto;
  border-bottom: 1px solid $border-grey;
  width: 295px;

  &--first {
    @media (max-width: $tablet) {
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 1px;
        border-top: 14px solid $white;
        border-left: 160px solid $accent;
        border-right: 160px solid $accent;
      }
    }
  }

  &--second {
    padding-top: 40px;
    padding-bottom: 36px;
    border-bottom: none;
  }

  &--grey {
    padding-top: 26px;
    padding-bottom: 26px;
    width: 250px;

    &:last-of-type {
      border-bottom: none;
    }
  }

  @media (min-width: $tablet) {
    padding-top: 0;
    padding-bottom: 0;
    width: 190px;
    border: none;
  }

  @media (min-width: $desktop) {
    width: 280px;
  }
}

.benefits__title {
  @include fields();
  @include font(18px, 26px, 700);
  margin-bottom: 11px;

  @media (min-width: $tablet) {
    @include font(21px, 26px, 700);
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop) {
    padding-left: 65px;
    padding-right: 65px;
  }
}

.benefits__number {
  display: block;
  margin-bottom: 16px;

  @media (min-width: $tablet) {
    margin-bottom: 24px;
  }
}

.benefits__text {
  @include fields();
}
