.body {
  @include font();
  @include fields();
  min-width: $mobile;
  font-family: $pt;
  color: $basic-grey;
  text-transform: uppercase;
  background-color: $white;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.body,
*,
*::before,
*::after {
  box-sizing: border-box;
}
