.form {
  margin: 36px auto 48px;
  width: 280px;

  @media (min-width: $tablet) {
    margin-top: 70px;
    margin-bottom: 61px;
    width: 648px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop) {
    width: 960px;
  }
}

.form__title {
  @include fields();
  @include font(18px, 26px, 700);
  margin-bottom: 30px;
  color: $black;
  text-align: center;

  @media (min-width: $tablet) {
    @include font(30px, 26px, 700);
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.form__text {
  @include fields();
  @include font(14px, 24px, 400);
  margin-bottom: 16px;
  text-align: center;

  @media (min-width: $tablet) {
    width: 435px;
    margin: 0 auto 72px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.form__fieldsets {
  @media (min-width: $tablet) {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 72px;
    grid-template-areas:
      "impression name"
      "contacts contacts"
      "places places"
      "textarea textarea"
      "button subtext";
    align-items: center;
  }
}

.form__fieldset {
  @include fields();
  position: relative;
  padding: 20px 0 25px;
  border: none;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    background-color: $light-grey;
  }

  @media (min-width: $tablet) {
    padding: 0;

    &::before {
      background-color: $grey;
      top: 13px;
    }

    &--name::before,
    &--impression::before {
      display: none;
    }

    &--name {
      grid-area: name;
    }

    &--impression {
      grid-area: impression;
      margin-right: 57px;

      &::after {
        position: absolute;
        content: "";
        width: 1px;
        height: 100%;
        top: 0;
        right: 0;
        background-color: $grey;
      }
    }

    &--places {
      grid-area: places;
    }

    &--textarea {
      grid-area: textarea;
    }

    &--contacts {
      grid-area: contacts;
    }
  }

  @media (min-width: $desktop) {
    &--name {
      width: 400px;
      margin-left: auto;
    }

    &--impression {
      width: 480px;
      margin-right: 0;

      &::after {
        position: absolute;
        content: "";
        width: 1px;
        height: 100%;
        top: 0;
        right: 0;
        background-color: $grey;
      }
    }
  }
}

.form__legend {
  @include fields();
  @include font(18px, 26px, 700);
  padding: 20px 0 0;
  color: $black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet) {
    position: relative;
    padding: 0 60px 0;
    background-color: $white;
    margin-bottom: 50px;

    &--impression,
    &--name {
      padding: 0;
      margin-left: 0;
      text-align: left;
    }

    &--places {
      white-space: pre-line;
      width: 340px;
    }

    &::after {
      position: absolute;
      content: "";
      height: 26px;
      width: 300px;
      top: 0;
      left: 25%;
      background-color: $white;
      z-index: -1;
    }
  }
}

.form__label {
  @include font(14px, 26px, 400);
  margin-right: 12px;

  &--contacts {
    margin: 0 0 5px 26px;

    @media (min-width: $desktop) {
      margin: 0 17px 0 0;
      white-space: nowrap;
    }
  }

  &--radio {
    @include font(18px, 26px, 700);
    text-transform: none;
    padding: 0 0 0 70px;
    margin: 0;
    width: 200px;
    flex-grow: 1;

    &::before {
      position: absolute;
      content: "";
      width: 58px;
      height: 58px;
      top: 0;
      left: 0;
      background-color: $medium-grey;
      border-radius: 50%;
    }

    &::after {
      position: absolute;
      content: "";
      top: 18px;
      left: 18px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: $basic-grey;
      display: none;
    }

    @media (min-width: $tablet) {
      padding-right: 20px;
    }
  }

  &--checkbox {
    @include font(18px, 26px, 700);
    text-transform: none;
    padding: 0 0 0 70px;
    margin: 0;
    width: 200px;
    flex-grow: 1;

    &::before {
      position: absolute;
      content: "";
      width: 58px;
      height: 58px;
      top: 0;
      left: 0;
      background-color: $medium-grey;
      border-radius: 5px;
    }

    &::after {
      position: absolute;
      content: "";
      top: 18px;
      left: 20px;
      width: 21px;
      height: 13px;
      border-left: 4px solid $basic-grey;
      border-bottom: 4px solid $basic-grey;
      border-radius: 2px;
      transform: rotate(-45deg);
      display: none;
    }

    @media (min-width: $desktop) {
      min-width: 200px;
    }
  }
}

/* Чекбокс активный */

.form__checkbox:checked + .form__label--checkbox::after,
.form__radio:checked + .form__label--radio::after {
  display: block;
}

/* Чекбокс, наведение */

.form__label--radio:hover::before,
.form__label--checkbox:hover::before {
  background-color: $light-grey;
  transition: 0.2s ease-in-out;
}

/* Чекбокс, клик */

.form__label--radio:active::before,
.form__label--checkbox:active::before {
  background-color: $dull-grey;
  border-color: rgba($basic-grey, 0.3);
  transition: 0.2s ease-in-out;
}

.form__input,
.form__mobile,
.form__email {
  @include fields();
  @include font(18px, 26px, 700);
  height: 58px;
  width: 100%;
  padding: 0 22px;
  border: 4px solid $medium-grey;
  background-color: $medium-grey;
  color: $black;

  &::placeholder {
    opacity: 1;
    color: $black;
  }

  &:hover {
    border-color: $light-grey;
    background-color: $light-grey;
    transition: 0.2s ease-in-out;
  }

  &:focus {
    background-color: $white;
    border: 4px solid $light-grey;
    transition: 0.2s ease-in-out;
  }
}

.form__mobile,
.form__email {
  @media (min-width: $tablet) {
    width: 648px;
  }
}

.form__radio,
.form__checkbox {
  appearance: none;
  position: relative;
}

.form__list {
  @include ul();

  @media (min-width: $tablet) {
    &--name {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      width: 267px;
    }

    &--contacts {
      width: 648px;
    }

    &--checkbox {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 32px;
    }
  }

  @media (min-width: $desktop) {
    &--checkbox {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &--contacts {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &--name {
      width: 400px;
    }
  }
}

.form__item {
  position: relative;
  min-height: 58px;
  width: 280px;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  &--contacts {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 58px;
      height: 57px;
      top: 26px;
      right: 0;
      background-color: $svg-grey;
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;

      @media (min-width: $desktop) {
        top: 0;
      }
    }

    &:last-child::before {
      background-image: url("../img/icon-mail.svg");
    }
  }

  &--radio,
  &--checkbox,
  &--name {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $tablet) {
    width: 324px;

    &--contacts {
      width: 100%;
    }

    &--checkbox {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop) {
    width: 400px;

    &--checkbox {
      width: 25%;
    }

    &--contacts {
      display: flex;
      align-items: center;
      margin-bottom: 0;

      &:last-of-type {
        width: 480px;
      }
    }
  }
}

.form__input {
  flex-grow: 1;
  width: 160px;
}

.form__textarea {
  @include font(18px, 26px, 700);
  @include fields();
  padding: 13px 22px;
  border: none;
  background-color: $medium-grey;
  width: 100%;
  min-height: 160px;
  resize: none;

  &::placeholder {
    opacity: 1;
    color: $black;
  }
}

.form__submit {
  @include button();
  @include font(21px, 26px, 700);
  padding: 15px;
  padding-top: 18px;
  width: 100%;
  background-color: $accent;
  color: $white;
  grid-area: button;

  &:hover {
    background-color: $accent-hover;
    transition: 0.2s ease-in-out;
  }

  &:active {
    background-color: $accent-active;
    color: rgba($white, 0.2);
    transition: 0.2s ease-in-out;
  }
}

.form__note {
  @include fields();
  display: none;

  @media (min-width: $tablet) {
    display: block;
    grid-area: subtext;
    text-align: right;
    margin-left: 30px;
  }
}

.form__span {
  @media (min-width: $desktop) {
    display: none;
  }
}
