.modal {
  width: 320px;
  margin: 0 auto;
  background-color: $white;
  box-shadow: 0 7px 15px rgba($black, 0.15);

  &--shown {
    display: block;
  }

  &--hidden {
    display: none;
  }

  &--fail {
    padding: 40px 40px 35px;


    @media (min-width: $tablet) {
      width: 640px;
    }
  }

  &--success {
    padding: 38px 0 0;

    @media (min-width: $tablet) {
      width: 640px;
    }
  }
}

.modal__wrap {
  text-align: center;
  width: 235px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 500px;
  }

  @media (min-width: $desktop) {
    width: 440px;
  }
}

.modal__title {
  @include fields();
  @include font(18px, 26px, 700);
  margin-bottom: 26px;

  @media (min-width: $tablet) {
    @include font(30px, 40px, 700);
    margin: 0 auto 25px;
    max-width: 220px;
  }

  &--success {
    @media (min-width: $desktop) {
      max-width: 100%;
    }
  }
}

.modal__text {
  @include fields();
  @include font(14px, 24px, 400);
  margin-bottom: 22px;
}

.modal__button {
  @include button();
  @include font(18px, 26px, 400);
  padding: 18px 15px 14px;
  min-width: 180px;
  background-color: $accent;
  color: $white;

  @media (min-width: $tablet) {
    @include font(21px, 26px, 400);
    min-width: 270px;
  }

  &:hover {
    background-color: $accent-hover;
    transition: 0.2s ease-in-out;
  }

  &:active {
    background-color: $accent-active;
    color: rgba($white, 0.2);
    transition: 0.2s ease-in-out;
  }

  &--wide {
    width: 100%;
  }
}

.modal__bg {
  background-color: $medium-grey;
  margin: 0 auto;
  padding: 20px;

  @media (min-width: $tablet) {
    padding: 44px 91px;
  }
}
