.video {
  text-align: center;

  @media (min-width: $tablet) {
    width: 648px;
    margin: 0 auto 40px;
  }

  @media (min-width: $desktop) {
    width: 800px;
  }
}

.video__title {
  @include fields();
  @include font(18px, 26px, 700);
  width: 280px;
  margin: 0 auto 27px;
  color: $black;

  @media (min-width: $tablet) {
    @include font(30px, 26px, 700);
    width: 100%;
  }
}

.video__text {
  @include fields();
  @include font(14px, 24px, 400);
  margin: 0 auto 33px;
  width: 280px;

  @media (min-width: $tablet) {
    width: 445px;
    margin-bottom: 67px;
  }
}

.video__img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;

  @media (min-width: $tablet) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: $desktop) {
    width: 800px;
    height: 500px;
  }
}

.video__controls {
  position: relative;
  margin: -50px auto 0;
  z-index: 5;

  @media (min-width: $tablet) {
    margin-top: -98px;
  }
}
